<div class="container">

  <table class="table table-striped border-primary  ">
    <thead>
    <tr>
      <th>Position </th>
      <th>Team </th>
      <th>Points </th>
      <th>Wins </th>

    </tr>
    </thead>

    <tbody>
    <% @constructor_data.each do |constructor| %>
      <tr>
        <td><%= constructor[:constructorPosition]%></td>
        <td><%= constructor[:constructorName]%></td>
        <td><%= constructor[:constructorPoints]%></td>
        <td><%= constructor[:constructorWins]%></td>

      </tr>
    <% end %>
    </tbody>
    <caption>Team Standings</caption>
  </table>

</div>