<div class="container">
  <div class="container">

    <div class="row">
      <h1> <%= @driver %> </h1>


      <div class="col">
        <img  style="width:500px;height:600px;" class="img" src=<%=driver_bio_pic(@driver) %> >
      </div>       <!--  закрывает col -->

      <div class="col">
        <p class="lead">	<%= driver_bio(@driver) %></p>
      </div>       <!--  закрывает col -->
    </div>         <!--  закрывает row -->
  </div>           <!--  закрывает контейнер -->
</div>             <!--  закрывает контейнер -->

<%= driver_stats %>
