/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "flag-icon";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
/* VARIABLES */

html {
  position: relative;
  min-height: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  color: white !important;
  background-color: #000000;
  background-image: url("https://img5.goodfon.ru/original/1366x768/a/6f/formula-1-logo-red.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.navbar a {
  color: white !important;
}

th {
  color: white !important;
}

.constructor_table {
  max-width: 50%;
  margin: auto;
  margin-top: 3%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  margin-bottom: 5% !important;
}


.Ferrari {
  color: red;
}

.Red {
  color:blue;
}

.Mercedes {
  color: #00d2be;
}

.McLaren {
  color:#FF8700;
}

.Alfa{
  color:#D40000;
}

.Alpine {
  color: #0090FF;
}

.table-container {
  width: 60%;
  min-width: 600px;
  /* border: 1px solid black; */
  margin: 100px auto;
}

.table-container th {
  display: none;
}

.table-container tr {
  display: flex;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
}

.table-container tr.table-content {
  justify-content: space-between;
  padding: 0;
}

.table-container tr.table-content td {
  margin: 0 20px 0 10px;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
}

.table-container tr.table-content td .position {

  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.table-container tr.table-content td .driver-name {
  margin-left: 10px;
}

.table-container tr.table-content td .driver-surname {
  font-weight: bolder;
  text-transform: uppercase;
}

.table-container tr.table-content td .team {
  font-size: 1rem;
  color: white;
  margin-left: 10px;
}

.table-container tr.table-content td .points {
  background-color: #ccc;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 0 10px;
}

.table-container tr.table-content td i {
  margin-left: 20px;
  color: white;
  font-size: 18px;
}

/* HOVER */

.table-container tr:hover {
  background-color: var(--hover-color);
  color: black;
}

.table-container tr:hover .points {
  color: black;
}

/* DRIVER 2 */

.table-container .table-content.driver2 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 4 */

.table-container .table-content.driver4 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 5 */

.table-container .table-content.driver5 .position {
  border-right: 5px solid var(--ferrari-color);
}

/* DRIVER 6 */

.table-container .table-content.driver6 .position {
  border-right: 5px solid var(--mclaren-color);
}

/* DRIVER 7 */

.table-container .table-content.driver7 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 8 */

.table-container .table-content.driver8 .position {
  border-right: 5px solid var(--renault-color);
}

/* DRIVER 9 */

.table-container .table-content.driver9 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 10 WITH EXTRA MARGIN/PADDING TO COMPENSATE EXTRA DIGIT */

.table-container .table-content.driver10 .position {
  border-right: 5px solid var(--renault-color);
  padding-right: 7px;
}

.table-container .table-content.driver10 td {
  margin-left: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.driver_standings {
  max-width: 25%;
}

.full_standings {
  margin-left: 45%;
  margin-bottom: 5%;
}




.podium__item {
  width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
  padding: 0 .5rem;
}

.podium {
  margin-bottom: 30%;
  display: flex;
  align-items: flex-end;
}

.podium__number {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.podium .first {
  min-height: 300px;
  background: rgb(255,172,37);
  background:
          linear-gradient(333deg,
                  rgba(255,172,37,1) 0%,
                  rgba(254,207,51,1) 13%,
                  rgba(254,224,51,1) 53%,
                  rgba(255,172,37,1) 100%);
}

.podium .second {
  min-height: 200px;
  background: linear-gradient(333deg, #6c757d 0%, #6c757d 13%, #959698 53%, #6c757d 100%);
  font-size: 75px;
  border-top-left-radius: 25px;
}

.podium .third {
  min-height: 100px;
  background: linear-gradient(333deg, #7f401d 0%, #925812 13%, #f49b08 53%, #733c1b 100%);
  font-size: 40px;
  border-top-right-radius: 25px;
}


.podium_row {
  width: 50%;
}

.table_row {
  width: 50%;

}

.driver_img {
  height: 180px;
}
