/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


/* VARIABLES */

:root {
  --mercedes-color: #00d2be;
  --redbull-color: #0600ef;
  --ferrari-color: #dc0000;
  --hover-color: #38383f;
  --mclaren-color: #ff8700;
  --racing-point-color: #f596c8;
  --renault-color: #fff500;
}

.table-container {
  width: 60%;
  min-width: 600px;
  /* border: 1px solid black; */
  margin: 100px auto;
}

.table-container th {
  display: none;
}

.table-container tr {
  display: flex;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;
  cursor: pointer;
}

.table-container tr.table-content {
  justify-content: space-between;
  padding: 0;
}

.table-container tr.table-content td {
  margin: 0 20px 0 10px;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
}

.table-container tr.table-content td .position {
  border-right: 5px solid var(--mercedes-color);
  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.table-container tr.table-content td .driver-name {
  margin-left: 10px;
}

.table-container tr.table-content td .driver-surname {
  font-weight: bolder;
  text-transform: uppercase;
}

.table-container tr.table-content td .team {
  font-size: 1rem;
  color: #666;
  margin-left: 10px;
}

.table-container tr.table-content td .points {
  background-color: #ccc;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 0 10px;
}

.table-container tr.table-content td i {
  margin-left: 20px;
  color: #e10600;
  font-size: 18px;
}

/* HOVER */

.table-container tr:hover {
  background-color: var(--hover-color);
  color: #ffffff;
}

.table-container tr:hover .points {
  color: black;
}

/* DRIVER 2 */

.table-container .table-content.driver2 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 4 */

.table-container .table-content.driver4 .position {
  border-right: 5px solid var(--redbull-color);
}

/* DRIVER 5 */

.table-container .table-content.driver5 .position {
  border-right: 5px solid var(--ferrari-color);
}

/* DRIVER 6 */

.table-container .table-content.driver6 .position {
  border-right: 5px solid var(--mclaren-color);
}

/* DRIVER 7 */

.table-container .table-content.driver7 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 8 */

.table-container .table-content.driver8 .position {
  border-right: 5px solid var(--renault-color);
}

/* DRIVER 9 */

.table-container .table-content.driver9 .position {
  border-right: 5px solid var(--racing-point-color);
}

/* DRIVER 10 WITH EXTRA MARGIN/PADDING TO COMPENSATE EXTRA DIGIT */

.table-container .table-content.driver10 .position {
  border-right: 5px solid var(--renault-color);
  padding-right: 7px;
}

.table-container .table-content.driver10 td {
  margin-left: 0;
}
